<h2>Пункты переливания</h2>
<form *ngIf="!editMode" (ngSubmit)="addPoint()">
  <input [(ngModel)]="newPoint.id_point" name="id" placeholder="ID пункта" required>
  <input [(ngModel)]="newPoint.city" name="city" placeholder="Город" required>
  <input [(ngModel)]="newPoint.address" name="address" placeholder="Адрес" required>
  <input [(ngModel)]="newPoint.phone" name="phone" placeholder="Телефон" required>
  <input [(ngModel)]="newPoint.fioHeader" name="fioHeader" placeholder="ФИО заведующего" required>
  <button type="submit">Добавить</button>
</form>

<!-- Форма редактирования -->
<form *ngIf="editMode" (ngSubmit)="saveEdit()">
  <h3>Редактирование пункта</h3>
  <input [(ngModel)]="editPoint!.city" name="editCity" placeholder="Город" required>
  <input [(ngModel)]="editPoint!.address" name="editAddress" placeholder="Адрес" required>
  <input [(ngModel)]="editPoint!.phone" name="editPhone" placeholder="Телефон" required>
  <input [(ngModel)]="editPoint!.fioHeader" name="editFio" placeholder="ФИО заведующего" required>
  <button type="submit">Сохранить</button>

</form>
<h2>Поиск пункта переливания по ID</h2>


<input [(ngModel)]="searchId" name="searchId" placeholder="Введите ID пункта">
<button (click)="searchPoint()">Найти</button>

<div *ngIf="foundPoint">
  <h3>Найденный пункт:</h3>
  <p><strong>ID:</strong> {{ foundPoint.id_point }}</p>
  <p><strong>Город:</strong> {{ foundPoint.city }}</p>
  <p><strong>Адрес:</strong> {{ foundPoint.address }}</p>
  <p><strong>Телефон:</strong> {{ foundPoint.phone }}</p>
  <p><strong>ФИО заведующего:</strong> {{ foundPoint.fioHeader }}</p>
</div>
<table border="1">
  <thead>
    <tr>
      <th>ID_пункта</th>
      <th>Город</th>
      <th>Адрес</th>
      <th>Телефон</th>
      <th>ФИО заведующего</th>
      <th colspan="2">Действия</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let point of points">
      <td>{{ point.id_point }}</td>
      <td>{{ point.city }}</td>
      <td>{{ point.address }}</td>
      <td>{{ point.phone }}</td>
      <td>{{ point.fioHeader }}</td>
      <td><button (click)="startEdit(point)">Редактировать</button></td>
      <td><button (click)="deletePoint(point.id_point)">Удалить</button></td>
    </tr>
  </tbody>
</table>